.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 12%;
}

.header {
  font-size: 1em;
}

.code {
  height: 300px;
}

.content {
  font-size: 1.5em;
}

.nigiri-content, .pizza-content, .macaroons-content {
  display: inline-block;
  width: 30%;
}

.content-header {
  margin-top: 3%;
  color: grey;
}

.featured-panels {
  display: flex;
  justify-content: space-between;
}
