.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 12%;
}

.header {
  font-size: 1em;
}

.code {
  height: 300px;
}

.content {
  font-size: 1.5em;
}

.nigiri, .pizza, .macaroons {
  width: 30%;
}

.nigiri {
  margin-right: 4%;
}

.macaroons {
  margin-left: 4%;
}

.content-header {
  margin-top: 3%;
  color: grey;
}
